#background-image-liv6 {
	width: 100%;
	height: 100%;
	background-image: url("images/bitcoindashboard.jpg");
	background-size: cover;
  }

  #background-image-liv5 {
	width: 100%;
	height: 100%;
	background-image: url("images/menaceimage.JPG");
	background-size: cover;
  }

  #background-image-accueil {
	width: 100%;
	height: 100%;
	background-image: url("images/cybersecurity.jpg");
	background-size: cover;
  }

  #background-image-login {
	width: 100%;
	height: 100%;
	background-image: url("images/cyberDashboard-main.png");
	background-size: cover;
  }